/* * ----- GLOBAL STYLE ----- */
:root {
  --main-color-primary: #126263;
  --main-color-secondary: #eee2dc;
  --main-text-color: #2C3532;
  --hover-color: #d1e8e2;
}

/* Navigation bar */

/* General */
.customNav {
  z-index: 10;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

.navbar-brand img {
  padding-right: 15px;
  width: 65px;
}

.nav-item {
  margin: 0px 15px;
}

/* Jumbotron  */
.custom-hero-img {
  background-image: url(../images/hero-bg-dark.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  /* height: calc(100vh - 76px); */
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: #f5f5f5; */
  color: var(--main-color-secondary);
}

/* Work Section */
.section-work {
  margin: 7vh auto !important;
  width: 90vw;
}

.sub-title {
  color: var(--main-color-primary) !important;
  padding-bottom: 2vh;
}

.custom-card:hover {
  box-shadow: 3px 3px 15px rgba(18, 98, 99, 0.4);
}

.custom-card-img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.custom-btn {
  background-color: var(--main-color-primary);
  border-color: #1a252f;
}

.custom-btn:hover {
  background-color: #0a9294;
}


/* Skills Section */
.custom-row-skill {
  padding: 3vh;
  align-items: center;
}

.custom-row-skill:hover {
  background-color: var(--hover-color);
}

.imageContainer img {
  width: 100%;
  max-width: 10vw;
}

.imageContainer {
  padding: 5vh;
  max-width: 10vw;
  min-width: 8vw;
  align-items: center;
}

/* About Me section */
.custom-about {
  padding: 4vh;
  align-content: center;
}


.custom-about img {
  max-width: 20vw;
  padding: 7vh;
  /* align-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  /* justify-content: center; */
  border-radius: 100%;
}

.contact-content {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-content a {
  text-decoration-line: none;
  color: white;
  margin-right: 35px;
}

.contact-content a:hover {
  color: var(--bg-header);
  font-weight: 600;
}

.contact-content a:after {
  display: flex;
  content: '';
  border-bottom: solid 3px var(--hover-color);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.contact-content a:hover:after {
  transform: scaleX(1);
}

/* Footer section */
footer {
  position: absolute;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  margin-top: 50px;
}

.copyright {
  background-color: #1a252f;
}




@media (max-width: 991.98px) {
  .imageContainer {
    padding: 1vh;
    max-width: 5vw;
    /* min-width: 7vw; */
    align-items: center;
  }
}



@media (max-width: 767.98px) {
  .custom-card {
    margin-bottom: 5vh;
  }

  /* Skills section */
  .custom-row-skill {
    padding: 1vh;
    text-align: center;
    align-items: center;
  }

  .imageContainer {
    padding: 1vh;
    /* max-width: 10vw; */
    min-width: 7vw;
    align-items: center;
  }

}